body {
  font-family: Roboto, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.invoice-table {
  border-collapse: collapse;
  background-color: rgb(232, 232, 232);
  margin: 2rem auto;
  margin-bottom: 1rem !important;
}

table :is(thead, tfoot) {
  background-color: rgb(63, 63, 63);
  color: white;
  font-weight: 600;
}

table tbody tr:nth-child(odd) {
  background-color: rgb(206, 206, 206);
}

table tbody tr td:nth-child(4),
table tbody tr td:nth-child(5) {
  text-align: right;
}

table tbody tr td:nth-child(3),
table tbody tr td:nth-child(6) {
  text-align: center;
}

table tbody tr td a i {
  text-align: center;
}

thead {
  border-bottom: 3px solid white;
}

tbody {
  font-weight: 500;
}

td {
  padding: 0.5rem;
  border: 1px solid white;
}

.btn {
  background-color: rgb(239, 117, 95);
  color: white;
  padding: 0.8rem 0.5rem;
}

.btn i {
  color: black;
  padding-right: 0.4rem;
}

.buttons {
  gap: 1.1rem;
  margin-left: 51.45vw;
}
